@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.three-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.div-cocktail-content img, .div-cocktail-content h3, .div-cocktail-content p{
    width: 60%!important;
    text-align: center;
}

.div-cocktail-content {
    width: 415px;
}
.div-cocktail-content h3 {
    font-size: 20px;
}

.div-cocktail-content p {
    width: 16px;
}
.div-cocktail-content img{
    margin-bottom: 10px;
}

.heading {
    font-size: 15px;
    flex-basis: 33.33%;
    flex-shrink: 0;
  }

.root1 {
    margin-top: 30px!important;
    width: 90%;
    margin: 0 auto;
  }

.MuiTypography-body1 {
    font-family: 'Julius Sans One'!important;
}

.MuiAccordionSummary-content {
    display: flex;
    justify-content: center;
    background-color: #1d1b19;
    color: #e9ae60; 
    margin-bottom: 4px;
}

.MuiAccordionSummary-root{
    background-color: #1d1b19!important;
    border:1px solid #e9ae60!important;
}

.MuiPaper-rounded {
    margin-top: 10px!important;
}

svg.MuiSvgIcon-root {
    display: none;
}
.div-cocktail-content h3:hover {
    cursor: pointer ;
    caret-color: #e9ae60;
}

.Goldline {
    width: 250px!important;
    margin-bottom: 20px;
}
@media screen and (max-width:768px) {
    .div-cocktail-content {
        width: 250px!important;
        margin-bottom: 0;
    }

    .div-cocktail-content h3 {
        font-size: 18px;
        width: 250px!important;
    }
    
    .div-cocktail-content p {
        width: 14px;
    }
    .div-cocktail-content h3 {
        margin: 0 auto;
    }

    .div-cocktail {
        margin: 0 auto;
        width: 250px;
    }

}