@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    min-height: 100vh;
    font-family: 'Julius Sans One', sans-serif;
}

.img-cocktail {
    width: 400px;
}

.div-cocktail {
    display: flex;
    margin-top: 50px;
}

.div-cocktail h3 {
    height: 52px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-cocktail {
    font-size: 48px;
    color: #1d1b19;
    margin: 8vh 0px;
}

.lign-cocktail {
    background-color: #e9ae60;
    width: 128px;
    height: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .img-cocktail{
        width: 256px;
    }
    
    .div-cocktail-content h3 {
        width: 258px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .lign-cocktail {
        width: 96px;
    }
}


