.container-carousel {
    margin-top: 32px;
}

.three-selections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    width: 90%;
}

.load {
    letter-spacing: 2px;
    color: #918f8b;
}

@media screen and (max-width:768px) {
    .three-selections {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 100vh;
        margin: 0 auto;
    }
}