.Home {
  width: 100%;
  height: 100%;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 15;
}

.transition .panelLeft, .transition .panelRight {
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.welcome .logoMini {
  display: block;
  width: 300px;
  fill: none;
  stroke: var(--third-color);
  transition: all 0.5s;
}

.welcome .error {
  padding-top: 25px;
  text-align: center;
  color: rgb(214, 48, 48);
}

.welcome .form_welcome {
  margin: 0 auto;
}

.welcome .form_welcome label {
  display: none;
}

.welcome .form_welcome input {
  display: block;
  margin: 35px;
  padding: 10px;
  font-size: 16pt;
  background: none;
  border: none;
  border-bottom: 1px solid var(--third-color);
  transition: all 0.5s ease-in-out;
  color: var(--blanc);
  font-family: var(--second-font);
  font-weight: 100;
}

.welcome .form_welcome input::placeholder {
  color: var(--third-color);
  opacity: 0.15;
}

.welcome .form_welcome input:focus {
  background: var(--third-color);
  border: none;
  color: var(--second-color);
  outline: none;
}

.welcome .without_mp {
  font-family: var(--second-font);
  font-weight: 100;
  color: var(--third-color)!important;
  opacity: 0.5;
  margin-top: 75px;
}

.welcome .without_mp .without_mp_dark {
  filter: blur(5px);
  transition: filter 0.3s;
  cursor: pointer;
}

.welcome .without_mp .without_mp_dark a {
  color: var(--third-color)!important;
  text-decoration: none;
}

.welcome .without_mp .without_mp_dark:hover {
  filter: blur(0px);
}

.enter {
  position: relative;
  padding: 25px 50px;
  font-family: var(--second-font);
  font-weight: 700;
  color: var(--third-color);
  text-transform: uppercase;
  border: 1px solid var(--third-color);
  transition: color 0.5s ease-in-out;
  letter-spacing: 2px;
  background-color: transparent;
}

.enter::before, .enter::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--third-color);
  height: 100%;
  width: 0;
  transition: all 0.5s;
  z-index: -1;
}

.enter::before {
  left: 0;
}

.enter::after {
  right: 0;
}

.enter:hover {
  color: var(--main-color);
  box-shadow: 0 0 15px 1px var(--third-color);
  transition: all 0.5s ease-in-out;
}

.enter:hover::before {
  width: calc(50% + 1px);
}

.welcome .enter:hover::after {
  width: 50%;
  transform: translate(0 -100%);
}

.welcome_container {
  opacity: 0;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .welcome .logoMini {
    width: 200px;
  }
}

@media screen and (max-width: 414px) {
  .welcome .logoMini {
    width: 150px;
  }
  .welcome .form_welcome input {
    width: 70%;
    margin: 35px auto;
  }
  .welcome .without_mp {
    width: 70%;
    text-align: center;
  }
}