@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
.Note {
  margin-bottom: -5px;
}

.star {
  font-size: 30px;
  color: goldenrod;
}

.notice {
  border-top: solid rgb(233, 174, 96) 1px;
  margin-bottom: 10px;
}

.blase {
  font-family: "Julius Sans One";
  text-align: right;
  margin: 0 auto;
}

.citation {
  font-family: "Julius Sans One";
  text-align: left;
}

.avis {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.more {
  display: flex;
  justify-content: center;
  background-color: var(--third-color);
  font-size: var(--font-size-main);
  padding: var(--spacing-medium);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: bolder;
  text-transform: uppercase;
  border: 1px solid var(--third-color);
  transition: all 0.35s ease-in-out;
  width: 25%;
  margin: 0 auto;
  margin-top: calc(var(--spacing-large) * 2);
}

.more:hover {
  background-color: var(--main-color);
  color: var(--third-color);
  box-shadow: 0 0 15px var(--third-color);
}

.moreCaption {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.noticefirst-comment {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media screen and (min-width: 415px) and (max-width: 768px) {}

@media screen and (max-width: 414px) {
  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 32%;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .avis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .blase {
    font-family: "Julius Sans One";
    text-align: right;
    width: 50%;
    margin-left: 140px;
  }
  .morecaption {
    font-size: 13px;
    width: 80%;
  }
  .texte {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .quote {
    font-family: "Julius Sans One";
    font-size: 12px;
    margin-right: 25px;
    padding-right: 20px;
  }
  .citation {
    font-family: "Julius Sans One";
    font-size: 12px;
    text-align: left;
  }
  .notice {
    border-top: solid rgb(233, 174, 96) 1px;
    margin-bottom: 10px;
  }
  .noticefirst-comment {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}