
  .notice{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top:solid rgb(233,174,96) 1px;
    border-bottom:solid rgb(233,174,96) 1px;
    width: 50vw;
}
.Note{
    margin-bottom: -5px;
}

.star{
    font-size:30px;
    color: goldenrod;
}

.texte{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.tout{
    display:flex;
    justify-content: center;
}
.blase{
   margin-top: 60px;
   font-family: "Julius Sans One";
}
.citation{
  font-family: "Julius Sans One";
}

.more{
  font-family: "Julius Sans One";
  padding-top:5px ;
  padding-bottom:5px;
  margin-top: 10px;
  margin-left: 44vw;
  border: 1 black;
  cursor: pointer;
}

.more:hover{
  box-shadow: 6px 6px 3px rgb(233, 174, 96);
  transform:scale(1.2) 0.5s;
}

@font-face{
  font-family: "Julius Sans One";
  src:url('Julius_Sans_One/JuliusSansOne-Regular.ttf');
}
