@import '../../App.css';
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 90%;
  font-size: calc(var(--font-size-main) * 3);
}

.container {
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
}

.h3-carousel {
  font-family: var(--main-font);
  font-size: calc(var(--font-size-main) * 6);
  color: var(--second-color);
}

.span-carousel {
  font-size: smaller;
}

.carousel-caption .p-carousel {
  font-family: var(--second-font);
  font-size: 20px !important;
  color: var(--second-color);
  font-style: italic;
}

.carousel-desktop {
  height: 100vh;
}

img.d-block{
  height: 100vh;
}

.carousel-mobile {
  display: none;
}

.carousel-tablet {
  display: none;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .h3-carousel {
    font-size: calc(var(--font-size-main)*2.5);
    color: whitesmoke;
  }
  .p-carousel {
    font-size: calc(var(--font-size-main)*1.5);
    color: whitesmoke;
  }
  .carousel-desktop {
    display: none;
  }
  .carousel-tablet {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .h3-carousel {
    font-size: calc(var(--font-size-main)*1.5);
  }
  .p-carousel {
    font-size: var(--font-size-main);
  }
  .carousel-desktop {
    display: none;
  }
  .carousel-mobile {
    display: block;
  }
}