@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
:root {
  --main-color: #1d1b19;
  --second-color: #fffcf8;
  --third-color: #e9ae60;
  --fourth-color: #918f8b;
  --main-font: 'Julius Sans One', sans-serif;
  --second-font: 'Open Sans', sans-serif;
  --font-size-main: 16px;
  --font-size-title: calc(var(--font-size-main) * 2);
  --spacing: 8px;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (max-width: 414px) {}